body {
    background: #333;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

body:hover {
    cursor: default;
}

#holder {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#holder h1 {
    color: rgb(187, 186, 186);
}

#game-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    height: 55px;
    width: 800px;
    background: rgba(68, 74, 110, 0.33);
}

#start-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 120px;
    background: rgba(68, 74, 110, 0.815);
    color: rgb(187, 186, 186);
}

#start-button:hover {
    cursor: pointer;
    background: rgba(68, 74, 110, 0.33);
}

#start-button > h3 {
    padding: 0px;
    margin: 0px;
}

canvas {
    background: rgb(187, 186, 186);
}

#content-box {
    display: flex;
    width: 800px;
}

#info {
    display: flex;
    justify-content: center;
    margin-left: 15px;
}

.info-tile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    color: rgb(187, 186, 186);
    width: 100px;
    height: 55px;
}

.info-tile h4 {
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.info-tile p {
    margin-left: 10px;
}

/* #mute-button {
}

#mute-button img {
    width: 20px;
    height: 20px;
    filter: invert(17%);
} */

#towers {
    color: rgb(187, 186, 186);
    display: flex;
    width: 340px;
    height: 50px;
    padding: 20px;
    padding-bottom: 40px;
    background: rgba(68, 74, 110, 0.33);
}

#towers > div {
    width: 50px;
    height: 50px;
    margin: 0px 15px;
    border-radius: 100%;
}

#towers > div > img {
    padding-top: -15px;
    width: 50px;
    height: 50px;
}

#towers > div > img:hover {
    cursor: pointer;
}

#towers p {
    margin: 0px;
    text-align: center;
}

#tower-details {
    display: flex;
    width: 100%;
    background: rgba(68, 74, 110, 0.33);
}

.detail-tile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    color: rgb(187, 186, 186);
    width: 60px;
}

.detail-tile h4 {
    margin: 0px;
    padding: 0px;
    size: 12px;
    font-weight: lighter;
}

.detail-tile p {
    size: 10px;
    margin: 0px;
    padding: 0px;
}

#edit-tower-buttons {
    display: flex;
    flex-direction: column;
    width: 120px;
    margin-left: 20px;
}

#edit-tower-buttons h5 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    height: 50%;
    width: 100%;
    background: rgba(68, 74, 110, 0.815);
}

#edit-tower-buttons h5:hover {
    cursor: pointer;
    background: rgba(68, 74, 110, 0.33);
}