html {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Press Start 2P", "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 12px;
  background: #333;
  background-image: url(/images/space.png);
  background-size: cover;
  background-position: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0;
  margin: 0;
}

body:hover {
  cursor: default;
}

#holder {
  color: #333;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
  opacity: 0;
  transition: 2s;
}

#holder h1 {
  color: rgb(187, 186, 186);
}

#placeholder-window {
  width: 160px;
  height: 560px;
  opacity: 0;
}

#how-to {
  width: 800px;
  text-align: center;
  line-height: 1.5;
}

#tutorial-window {
  display: flex;
  width: 160px;
  height: 560px;
  transition: 2s;
  opacity: 0;
  z-index: 0;
}

#tutorial-slide {
  border-radius: 0px 5px 5px 0px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 280px;
  transition: 0.5s;
}

#tutorial-slide:hover {
  cursor: pointer;
}

#tutorial-text {
  color: #333;
  padding: 10px;
  text-align: center;
  transition: 0.5s;
}

#tutorial-text p {
  line-height: 1.3em;
}

#tutorial-icon img {
  position: absolute;
  right: 5px;
  top: 123px;
  filter: invert(20%);
  width: 30px;
  height: 30px;
}

#hotkeys-slide {
  border-radius: 0px 5px 5px 0px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 280px;
  height: 280px;
  transition: 0.5s;
}

#hotkeys-icon img {
  position: absolute;
  right: 5px;
  top: 123px;
  filter: invert(20%);
  width: 30px;
  height: 30px;
}

#hotkeys-slide:hover {
  cursor: pointer;
}

#hotkeys-text {
  color: #333;
  padding: 10px;
  transition: 0.5s;
}

#hotkeys-text h4 {
  text-align: center;
  margin-bottom: 35px;
}

#hotkeys-text ul {
  list-style: none;
  padding: 0px;
}

#hotkeys-text li {
  padding-top: 5px;
}

.hidden {
  opacity: 0;
}

.open {
  background-color: rgb(174, 172, 172);
  width: 160px;
  animation: slide-in 0.5s forwards;
  -webkit-animation: slide-in 0.5s forwards;
}

.open:hover {
  background-color: rgb(155, 154, 154);
}

.closed {
  background-color: rgb(155, 154, 154);
  width: 160px;
  animation: slide-out 0.5s forwards;
  -webkit-animation: slide-out 0.5s forwards;
}

.closed:hover {
  background-color: rgb(174, 172, 172);
}

#game-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  width: 840px;
  background: rgb(68, 74, 110);
  border-radius: 5px 5px 0 0;
  opacity: 0;
  transition: 2s;
}

#play-button {
  position: absolute;
  top: 28%;
  left: 0;
  right: 0;
  margin: auto;
  width: 235px;
  height: 125px;
  background-color: inherit;
  background-repeat: no-repeat;
  z-index: 2;
  outline: none;
  border: none;
  /* opacity: 0; */
  transition: 0.5s;
}

#play-button:hover {
  cursor: pointer;
}

#game-info {
  position: absolute;
  top: 52%;
  width: 80%;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  background-color: rgba(187, 186, 186, 0.5);
  background-repeat: no-repeat;
  z-index: 2;
  outline: none;
  border: none;
  border-radius: 5px;
}

#game-info > ul {
  display: flex;
}

#game-info > ul > li {
  list-style: none;
  font-size: 11px;
  margin-right: 15px;
}

#game-info > h3 {
  margin-top: 45px;
}

#how-to {
  width: 800px;
  text-align: center;
  line-height: 1.5;
}

#audio-button {
  display: flex;
  align-items: center;
  padding: 10px;
}

#audio-button:hover {
  cursor: pointer;
}

#audio-button-img {
  width: 22px;
  height: 22px;
}

.audio-on {
  filter: invert(70%);
}

.audio-off {
  filter: invert(20%);
}

#wave-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 140px;
  background-color: rgb(61, 67, 101);
  border-radius: 0px 5px 0 0;
  color: rgb(187, 186, 186);
  transition: 0.5s;
}

.clickable:hover {
  cursor: pointer;
  background: rgb(120, 128, 171) !important;
}

#wave-button > div {
  z-index: 1;
}

#wave-button > span {
  position: absolute;
  top: 0;
  background: rgb(120, 128, 171);
  border-radius: 5px;
  height: 100%;
  z-index: 0;
}

#canvas-wrapper {
  display: flex;
  justify-content: center;
}

canvas {
  position: inline-block;
  z-index: 1;
  transition: 1s;
}

#content-box {
  display: flex;
  width: 840px;
  opacity: 0;
  transition: 2s;
}

#info {
  display: flex;
  justify-content: center;
  margin-left: 15px;
}

.info-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  color: rgb(187, 186, 186);
  width: 130px;
  height: 55px;
}

/* #info-bits {
  width: 160px;
} */

.info-tile h4 {
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.info-tile p {
  margin-left: 10px;
}

.flashing {
  animation-name: flash;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

#spacer-div-1 {
  width: 15px;
}

/* #mute-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

#mute-button img {
  width: 25px;
  height: 25px;
  padding: 10px;
}

#mute-button img:hover {
  cursor: pointer;
}

.mute-off {
  filter: invert(65%);
}

.mute-on {
  filter: invert(19%);
} */

#towers {
  color: rgb(187, 186, 186);
  display: flex;
  width: 340px;
  height: 50px;
  padding: 15px;
  padding-bottom: 40px;
  background: rgb(68, 74, 110);
  border-radius: 0 0 0 5px;
}

#towers > div {
  text-align: center;
  width: 50px;
  height: 50px;
  margin: 0px 15px;
  border-radius: 10%;
}

#towers > div:hover {
  background: rgb(187, 186, 186);
}

#towers > div:active {
  background: rgb(136, 136, 136);
}

#towers > div > img {
  padding-top: -15px;
  width: 50px;
  height: 50px;
}

#towers > div > img:hover {
  cursor: pointer;
}

#towers p {
  margin: 10px 0px;
  text-align: center;
}

#tower-details {
  display: flex;
  width: 100%;
  background: rgb(68, 74, 110);
  border-radius: 0 0 5px 0;
}

.detail-tile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  color: rgb(187, 186, 186);
  width: 70px;
}

.detail-tile h5 {
  margin: 25px;
}

.detail-tile p {
  margin: 0px;
  padding: 0px;
}

#edit-tower-buttons {
  display: flex;
  flex-direction: column;
  width: 120px;
  height: 105px;
  margin-left: 20px;
}

.edit-button {
  transition: 0.5s;
}

#sell-button {
  border-radius: 0 0 5px 0;
}

#edit-tower-buttons h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  height: 50%;
  width: 100%;
  background-color: rgb(61, 67, 101);
}

#auto-container {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  color: rgb(187, 186, 186);
  width: 80px;
}

#auto-container input {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  right: 0;
  height: 25px;
  width: 25px;
  background-color: rgb(61, 67, 101);
}

#auto-container input:checked ~ .checkmark {
  background-color: rgb(187, 186, 186);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

#auto-container input:checked ~ .checkmark:after {
  display: block;
}

#auto-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid rgb(68, 74, 110);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#game-over-screen {
  display: flex;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #2c9e16;
  transition: 2s;
  opacity: 0;
  z-index: 2;
}

#game-over-title {
  display: none;
  color: #333;
  font-size: 70px;
  margin: 0px;
  transition: 1s;
}

#score-terminal {
  display: none;
  position: fixed;
  align-items: center;
  flex-direction: column;
  top: 55%;
  margin: 10px;
  transition: 2s;
  opacity: 0;
}

#local-top {
  color: #fff;
}

#local-score {
  color: 2c9e16;
}

#score-terminal > h3 {
  color: rgb(171, 171, 171);
  font-size: 30px;
  margin: 20px 0px;
}

.scores {
  display: flex;
}

.score-div {
  padding: 0px 20px;
}

.score-div:first-child {
  text-align: center;
}

.score-div:last-child {
  text-align: center;
}

.score-div > h2 {
  text-align: center;
  padding-bottom: 10px;
}

.scores ul {
  color: #fff;
  padding: 0px;
  list-style: none;
  min-width: 80px;
}

.scores li {
  font-size: 16px;
  padding: 5px 0px;
}

.name-input {
  background-color: #333;
  color: #fff;
  text-align: center;
  font-family: inherit;
  font-size: 20px;
  line-height: 1.5em;
  width: 300px;
  text-decoration: none;
  outline: none;
  border: 3px solid rgb(70, 70, 70);
}

.new-game {
  outline: none;
  font-family: inherit;
  background: rgb(171, 171, 171);
  color: #333;
  font-size: 20px;
  margin-top: 30px;
  width: 250px;
  height: 60px;
  border: 5px solid #299114;
  transition: 0.5s;
}

.new-game:hover {
  cursor: pointer;
  color: #299114;
  border: 5px solid #333;
}

#footer {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
  color: rgb(186, 186, 186);
  transition: 0.5s;
  z-index: 3;
}

#footer a {
  text-decoration: none;
  color: rgb(186, 186, 186);
}

#footer a:hover {
  color: #fff;
}

.git {
  margin: -5px 0 0 10px;
}

.git img {
  filter: invert(70%);
}

.git img:hover {
  filter: invert(100%);
}

.active {
  animation-name: blink;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes blink {
  0% {
    background-color: rgb(68, 74, 110);
  }
  50% {
    background-color: rgb(108, 117, 167);
  }
  100% {
    background-color: rgb(68, 74, 110);
  }
}

@keyframes flash {
  0% {
    background-color: inherit;
  }
  50% {
    background-color: rgb(108, 117, 167);
  }
  100% {
    background-color: inherit;
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(-75%);
  }
  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes slide-in {
  0% {
    transform: translateX(-75%);
  }
  100% {
    -webkit-transform: translateX(0%);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-75%);
  }
}

@-webkit-keyframes slide-out {
  0% {
    -webkit-transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-75%);
  }
}

/* mobile*/

#flip-message {
  display: none;
}

@media only screen and (orientation: portrait) {
  body {
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #holder {
    display: none;
  }
  #tutorial-window {
    display: none;
  }
  #flip-message {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    font-size: 40px;
    color: #fff;
  }

  #flip-message > p {
    text-align: center;
  }
}

@media only screen and (orientation: landscape) {
  #flip-message {
    display: none;
  }
}
