body {
  font-family: "Press Start 2P", "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 12px;
  background: #333;
  background-image: url(/images/space.png);
  background-size: cover;
  background-position: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body:hover {
  cursor: default;
}

#holder {
  color: #333;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1% 0 1% 0;
}

#holder h1 {
  color: rgb(187, 186, 186);
}

#other-window {
  display: inline-block;
  color: #333;
  background-color: rgba(207, 204, 204, 0.7);
  width: 160px;
  border-radius: 5px;
  z-index: 0;
  transition: 0.5s;
  opacity: 0;
}

#tutorial-window {
  width: 160px;
  height: 280px;
  z-index: 0;
  transition: 0.5s;
  opacity: 0;
}

#tutorial-slide {
  border-radius: 0px 5px 5px 0px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 280px;
  transition: 0.5s;
}

#tutorial-slide:hover {
  cursor: pointer;
}

#tutorial-text {
  color: #333;
  padding: 10px;
  text-align: center;
  transition: 0.5s;
}

#tutorial-text p {
  line-height: 1.3em;
}

#tutorial-icon img {
  position: absolute;
  right: 5px;
  top: 123px;
  filter: invert(20%);
  width: 30px;
  height: 30px;
}

.hidden {
  opacity: 0;
}

.open {
  background-color: rgba(207, 204, 204, 0.7);
  width: 160px;
  animation: slide-in 0.5s forwards;
  -webkit-animation: slide-in 0.5s forwards;
}

.open:hover {
  background-color: rgba(180, 179, 179, 0.5);
}

.closed {
  background-color: rgba(180, 179, 179, 0.5);
  width: 80px;
  animation: slide-out 0.5s forwards;
  -webkit-animation: slide-out 0.5s forwards;
}

.closed:hover {
  background-color: rgba(207, 204, 204, 0.7);
}

@keyframes slide-in {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes slide-in {
  0% {
    transform: translateX(-50%);
  }
  100% {
    -webkit-transform: translateX(0%);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@-webkit-keyframes slide-out {
  0% {
    -webkit-transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-50%);
  }
}

#game-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  width: 840px;
  background: rgba(68, 74, 110, 0.8);
  border-radius: 5px 5px 0 0;
  opacity: 0;
  transition: 2s;
}

#play-button {
  position: absolute;
  top: 32%;
  left: 0;
  right: 0;
  margin: auto;
  width: 235px;
  height: 125px;
  background-color: inherit;
  background-repeat: no-repeat;
  z-index: 2;
  outline: none;
  border: none;
}

#game-info {
  position: absolute;
  top: 55%;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  background-color: inherit;
  background-repeat: no-repeat;
  z-index: 2;
  outline: none;
  border: none;
}

#game-info > ul {
  display: flex;
}

#game-info > ul > li {
  list-style: none;
  font-size: 11px;
  margin-right: 15px;
}

#game-info > h3 {
  margin-top: 45px;
}

#game-over {
  position: absolute;
  display: none;
  justify-content: center;
  top: 30%;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2;
  transition: 1s;
}

#game-over > h1 {
  color: #333;
  font-size: 70px;
}

#wave-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 140px;
  background: rgba(68, 74, 110, 0.815);
  border-radius: 0px 5px 0 0;
  color: rgb(187, 186, 186);
  transition: 0.5s;
}

#wave-button:hover {
  cursor: pointer;
  background: rgb(120, 128, 171);
}

#wave-button > h3 {
  padding: 0px;
  margin: 0px;
}

#canvas-wrapper {
  display: flex;
  justify-content: center;
}

canvas {
  position: inline-block;
  z-index: 1;
  transition: 3s;
}

#content-box {
  display: flex;
  width: 840px;
  opacity: 0;
  transition: 2s;
}

#info {
  display: flex;
  justify-content: center;
  margin-left: 15px;
}

.info-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  color: rgb(187, 186, 186);
  width: 130px;
  height: 55px;
}

#info-bits {
  width: 160px;
}

.info-tile h4 {
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.info-tile p {
  margin-left: 10px;
}

.flashing {
  animation-name: flash;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

#spacer-div-1 {
  width: 15px;
}

/* #spacer-div-2 {
  width: 15px;
} */

#mute-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

#mute-button img {
  width: 25px;
  height: 25px;
  padding: 10px;
}

#mute-button img:hover {
  cursor: pointer;
}

.mute-off {
  filter: invert(65%);
}

.mute-on {
  filter: invert(19%);
}

#auto-wave {
  display: flex;
  justify-content: center;
  align-items: center;
}

#towers {
  color: rgb(187, 186, 186);
  display: flex;
  width: 340px;
  height: 50px;
  padding: 15px;
  padding-bottom: 40px;
  background: rgba(68, 74, 110, 0.8);
  border-radius: 0 0 0 5px;
}

#towers > div {
  text-align: center;
  width: 50px;
  height: 50px;
  margin: 0px 15px;
  border-radius: 10%;
}

#towers > div:hover {
  background: rgb(187, 186, 186);
}

#towers > div:active {
  background: rgb(136, 136, 136);
}

#towers > div > img {
  padding-top: -15px;
  width: 50px;
  height: 50px;
}

#towers > div > img:hover {
  cursor: pointer;
}

#towers p {
  margin: 10px 0px;
  text-align: center;
}

#tower-details {
  display: flex;
  width: 100%;
  background: rgba(68, 74, 110, 0.8);
  border-radius: 0 0 5px 0;
}

.detail-tile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  color: rgb(187, 186, 186);
  width: 70px;
}

.detail-tile h5 {
  margin: 25px;
}

.detail-tile p {
  margin: 0px;
  padding: 0px;
}

#edit-tower-buttons {
  display: flex;
  flex-direction: column;
  width: 120px;
  height: 105px;
  margin-left: 20px;
}

.edit-button {
  transition: 0.5s;
}

/* #upgrade-button {
  border-bottom: 1px solid rgba(68, 74, 110, 0.8);
} */

#sell-button {
  border-radius: 0 0 5px 0;
}

#edit-tower-buttons h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  height: 50%;
  width: 100%;
  background: rgba(68, 74, 110, 0.815);
}

#edit-tower-buttons h5:hover {
  cursor: pointer;
  background: rgb(120, 128, 171);
}

#auto-container {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  color: rgb(187, 186, 186);
  font-weight: 600;
  width: 80px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#auto-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 15;
  right: 0;
  height: 25px;
  width: 25px;
  background-color: rgba(68, 74, 110, 0.815);
}

#auto-container input:checked ~ .checkmark {
  background-color: rgb(187, 186, 186);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

#auto-container input:checked ~ .checkmark:after {
  display: block;
}

#auto-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid rgba(68, 74, 110, 0.815);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.over {
  z-index: 0;
  opacity: 0;
}

.game-over {
  height: 560;
  width: 840;
  opacity: 0.8;
  z-index: 2;
}

.scores {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(15, 189, 15);
  transition: 1s;
}

.score-terminal {
  display: flex;
}

.scores h2 {
  padding-left: 30px;
}

.scores input {
  background-color: #333;
  color: #fff;
  text-align: center;
  font-family: inherit;
  font-size: 20px;
  line-height: 1.5em;
  width: 300px;
  text-decoration: none;
  outline: none;
  border: 3px solid rgb(70, 70, 70);
}

.scores ol {
  color: #fff;
  padding: 20px;
  list-style: none;
  min-width: 80px;
}

.scores li {
  font-size: 16px;
  padding: 0px 10px 10px;
}

#footer {
  position: fixed;
  bottom: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  color: rgb(186, 186, 186);
}

#footer a {
  text-decoration: none;
  color: rgb(186, 186, 186);
}

#footer a:hover {
  color: #fff;
}

.git {
  padding: 0px 15px 0px 10px;
  margin-top: -5px;
}

.git img {
  filter: invert(70%);
}

.git img:hover {
  filter: invert(100%);
}

.active {
  animation-name: blink;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes blink {
  0% {
    background-color: rgba(68, 74, 110, 0.8);
  }
  50% {
    background-color: rgba(108, 117, 167, 0.8);
  }
  100% {
    background-color: rgba(68, 74, 110, 0.8);
  }
}

@keyframes flash {
  0% {
    background-color: inherit;
  }
  50% {
    background-color: rgba(108, 117, 167, 0.8);
  }
  100% {
    background-color: inherit;
  }
}

/* mobile friendly styles */

#flip-message {
  display: none;
}

@media only screen and (orientation: portrait) {
  body {
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #holder {
    display: none;
  }
  #tutorial-window {
    display: none;
  }
  #flip-message {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
  }
}

@media only screen and (orientation: landscape) {
  #flip-message {
    display: none;
  }
}
