#holder {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

canvas {
    background: rgb(187, 186, 186);
}

#content-box {
    display: flex;
    width: 750px;
}

#info {
    display: flex;
    justify-content: center;
}

.info-tile {
    display: flex;
    justify-content: center;
    width: 60px;
    height: 50px;
    padding: 20px;
    background: chartreuse;
}

#towers {
    display: flex;
    width: 310px;
    height: 50px;
    padding: 20px;
    background: #d2691e;
}

#towers > div {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    color: cyan;
    border-radius: 100%;
}

#towers > div > img {
    width: 50px;
    height: 50px;
}