body {
    background: #333;
}

#holder {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#holder h1 {
    color: rgb(187, 186, 186);
}

canvas {
    background: rgb(187, 186, 186);
}

#content-box {
    display: flex;
    width: 800px;
}

#info {
    display: flex;
    justify-content: center;
}

.info-tile {
    color: rgb(187, 186, 186);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70px;
    height: 50px;
    padding: 20px;
    background: rgba(68, 74, 110, 0.33);
}

.info-tile h4 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: -5px;
}

.info-tile p {
    text-align: center;
    margin-top: -5px;
}

#towers {
    color: rgb(187, 186, 186);
    display: flex;
    width: 330px;
    height: 50px;
    padding: 20px;
    background: rgba(68, 74, 129, 0.57);
}

#towers > div {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    border-radius: 100%;
}

#towers > div > img {
    width: 50px;
    height: 50px;
        color: rgb(206, 202, 202);

}
